<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Установка уровня логирования для org.springframework.security на DEBUG -->
    <logger name="org.springframework.security" level="DEBUG"/>

    <root level="info">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
