<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update or delete user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/edit/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <label for="password">Password:</label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <input type="submit" value="Save Changes"/>
</form>
<form th:method="POST" th:action="@{/admin/delete/{id}(id=${user.getId()})}" th:object="${user}">
    <input type="submit" value="Delete User"/>
</form>
<br/>
<div>
    <sec:authorize access="isAuthenticated()">
        <form  th:action="@{/logout}" method="post">
            <input type="submit" value="Выйти">
        </form>
    </sec:authorize>
</div>

</body>
</html>